/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.6;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

/* Typography */
h2{
    font-size: 28px;
    color: black;
}


/* Header Section */
.header{
    background: #F05E15;
    padding: 32px;
}

.nav ul{
    list-style: none;
}

.nav a{
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
}

.nav li{
    margin-right: 24px;
}

/* Hero Section */
.hero-section{
    background: #D4CEA7;
    padding: 48px;
}

.article{
    background: #125979;
    width: calc(33% - 20px);
    padding: 25px;
    height: 600px;
    margin: 20px;
    box-shadow: 6px 6px 10px 5px rgb(116, 115, 115);
}

.article-list1 ol,
.article-list2 ul{
    list-style-position: inside;
    color: #B6C8A6;
    font-size: 24px;
}

.article li{
    margin:8px 0;
    
}

.article-list3 ul{
    list-style: none;
    font-size: 24px;
    color: #B6C8A6;
}

.article-list3 li{
    margin:20px 0 ;
}


.article-list3 .icons{
    margin-right: 24px;
    color: black;
}

.data-list{
    margin:60px 0 0;
    font-size: 20px;
    color: rgb(104, 92, 74);
}

dt{
    margin: 8px 0;
}

/* Footer Section */

.footer{
    background: #252C22;
    padding: 30px 0;
}

.footer ul{
    list-style: none;
    
}

.footer li{
    margin-right: 32px;
}

.footer a{
    color: wheat;
    font-size: 24px;
}